.poem-comments-vertical {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.poem-comments-container {
  background-color: rgba(204, 204, 204, 0.35);
  padding: 0.75rem;
}

.poem-comments-container > form {
  margin-bottom: 1.313rem;
}

.poem-text-container > textarea {
  background: #fff;
  border: 0.15rem solid #ccc;
  border-radius: 0;
  color: #000;
  font-size: inherit;
  font-weight: 300;
  line-height: inherit;
  padding: 0.25rem;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.poem-text-container > textarea:focus {
  box-shadow: #99a7ee 0 0 0.3em inset;
  outline: 0;
}

.poem-form-vertical {
  margin-bottom: 0.75rem;
  margin-top: 0.25rem;
}

.poem-form-flex {
  display: flex;
  width: 100%;
}

.poem-text-container {
  position: relative;
  flex: 1;
}

.poem-form-button > button {
  border-color: #0ecb27;
  color: #0ecb27;
  word-wrap: break-word;
  word-break: break-word;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: transparent;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 0;
  text-align: center;
  padding: 0.25rem 0.5rem;
  vertical-align: top;
}

.poem-form-button > button:hover {
  transition: none;
  background-color: rgba(14, 203, 39, 0.2);
}

.show-more-comments {
  border-color: #99a7ee;
  color: #99a7ee;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  cursor: pointer;
  margin-right: .375rem;
  padding-bottom: .1em;
  word-wrap: break-word;
  word-break: break-word;
  text-transform: uppercase;
  margin-right: .1em;
  letter-spacing: .04em;
  font-size: .875rem;
}
